<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script>
        function updateForm() {
            var role = document.getElementById("role").value;
            var extraFields = document.getElementById("extraFields");

            var commonFields = '<div class="form-row">' +
                '<div class="form-group"><label for="first_name">First Name:</label><input type="text" id="first_name" name="first_name" required></div>' +
                '<div class="form-group"><label for="middle_name">Second Name:</label><input type="text" id="middle_name" name="middle_name" required></div>' +
                '<div class="form-group"><label for="last_name">Third Name:</label><input type="text" id="last_name" name="last_name" required></div>' +
                '</div>' +
                '<div class="form-row">' +
                '<div class="form-group"><label for="ucn">UCN:</label><input type="text" id="ucn" name="ucn" required></div>' +
                '<div class="form-group"><label for="phone_number">Phone number:</label><input type="text" id="phone_number" name="phone_number" required></div>' +
                '<div class="form-group"><label for="address">Address:</label><input type="text" id="address" name="address" required></div>' +
                '</div>' +
                '<div class="form-row gender-row"><label for="gender">Gender:</label><div><input type="radio" id="male" name="gender" value="male" required> Male<br>' +
                '<input type="radio" id="female" name="gender" value="female" required> Female</div></div>';

            var doctorNurseFields = '<div class="form-row">' +
                '<div class="form-group"><label for="specialisation">Specialisation:</label><input type="text" id="specialisation" name="specialisation" required></div>' +
                '<div class="form-group experience">\n' +
                '    <label for="experience">Years of Experience:</label>\n' +
                '    <input type="number" id="experience" name="experience" min="0" max="60" required>\n' +
                '</div>' +
                '</div>' +
                '<div class="form-row"><label for="about">More about you:</label><textarea id="about" name="about" rows="10" cols="50"></textarea></div>';

            if (role === "patient") {
                extraFields.innerHTML = commonFields;
            } else if (role === "doctor" || role === "nurse") {
                extraFields.innerHTML = commonFields + doctorNurseFields;
            }
        }
    </script>
</head>
<body onload="updateForm()">
<h1 class="fancy-title">SuperDoc</h1>
<div>
    <p>Please register to continue.</p>
</div>
<form method="POST">
    <div class="form-row">
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
    </div>
    <div class="form-row role-group">
        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role" onchange="updateForm()" required>
                <option value="patient">Patient</option>
                <option value="doctor">Doctor</option>
                <option value="nurse">Nurse</option>
            </select>
        </div>
    </div>
    <div id="extraFields"></div>
    <div class="form-row">
        <input type="submit" value="Register">
    </div>
</form>
<p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>